{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

    <div class="container animate__animated animate__fadeIn">
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color: #e3f2fd;">Registro</div>

                    <div class="card-body">
                    
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.name, {
                            label: 'Nombre:'
                        }) }}
                        {{ form_row(registrationForm.email, {
                            label: 'Correo:'
                        }) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Contraseña:'
                        }) }}
                        {#
                        {{ form_row(registrationForm.agreeTerms) }}
                        #}
                        <div class="form-group row justify-content-center my-4">
                            
                                <button type="submit" class="btn btn-primary text-center">Registro</button>
                        
                        </div>
                    {{ form_end(registrationForm) }}

                    {#
                        <form method="POST">

                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Nombre</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" name="name" required autocomplete="name" autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Correo</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email" required autocomplete="email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password" required autocomplete="new-password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirma Contraseña</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Registro
                                    </button>
                                </div>
                            </div>
                        </form>
                        #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
