{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-10">
                <div class="display-4 my-4 py-2 text-center text-info">{{ blog.title }}</div>

                {# @can('update', $post) #}
                <!-- The current user can update the post... -->
                <div class="row justify-content-end">
                    <a href="{{ path('blog_edit', {'id': blog.id}) }}" class="h5 text-info mr-5">Editar</a>
                </div>
                {# @endcan #}

                <div class="row justify-content-center">
                    <img src="{{ blog.photo }}" class="img-responsive w-50 my-4 border border-muted rounded shadow" />
                </div>

                <div class="text-secondary mt-3 py-1 text-center" style="font-size: 22px;">
                    Autor: {{ blog.user.name }}
                </div>

                <div class="mb-4 text-center text-muted">{{ blog.createdAt | date }}</div>


                <div class="text-secondary my-4 py-1" style="text-indent: 20px; font-size: 20px;">
                    {{ blog.text }}
                </div>
            </div>

        </div>
    </div>
    
{% endblock %}
